.device-status-panel {
  padding: 5px;

  .status {
    display: none;
    padding: 10px 30px;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    .message {
      background: none;
      flex: 0 0 100%;
      
      font-size: 20px;
      font-weight: bold;
      text-shadow: 2px 2px rgba(0,0,0,.4);
      text-align: center;
    }

    &.is-visible {
      display: flex;
    }
  }

  .connected {
    background-color: #017c2c;
    color: white;
  }
  
  .not-connected {
    background-color: hsl(348, 100%, 61%);
    color: white;
  }
}