#device-selector {
  &:focus-within {
    box-shadow: 0 0 0 1px rgba(0,0,0,.5), 0 0 20px 0 rgba(0,0,0,.15);
  }

  .field {
    display: flex;
    align-items: center;
    
    .label {
      display: inline-block;
    }

    .control {
      display: inline-block;
      margin-left: 20px;

      select {
        &:focus {
          box-shadow: 0 0 0 2px hsl(204, 86%, 53%);
          outline: none;
        }
      }
    }
  }
}