#flow-controls {
  display: flex;
  justify-content: space-between;

  padding: 15px 20px;

  .field {
    height: 100%;
  }

  .flow-control-button {
    background: rgba(0,0,0,.1);
    border: 0;
    border-radius: 3px;
    
    display: block;
    text-align: center;

    width: 150px;
    height: 100%;

    &:hover {
      box-shadow: 0 0 0 1px rgba(0,0,0,.3);
    }

    .description {
      display: block;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .icon {
      display: block;
      font-size: 18px;
      text-align: center;
      margin: 0 auto;
    }
  }
}