.key {
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 1px 1px 0 1px rgba(0,0,0,.1);
  color: rgba(0,0,0,1);
  border-radius: 4px;
  font-size: 14px;

  position: relative;
  top: -2px;
  margin: 0 2px 0 0;
}