.notice {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding: 15px 0;

  background-color: #fff3cd;
  border-bottom: 1px solid rgba(0,0,0,.2);

  text-align: center;
  font-size: 18px;
}