.panel-placeholder {
  background-color: rgba(0,0,0,.05);
  border: 5px dashed rgba(0,0,0,.1);
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  font-size: 18px;
  color: rgba(0,0,0,.56);
  font-weight: bold;
}