* {
  box-sizing: border-box;
}

body {
  padding: 90px 0 50px 0;
  min-height: 100vh;
  background-color: #efefef;

  @media (max-width: $mobile-breakpoint) {
    padding: 60px 0 10px 0;
    min-height: 0;
  }
}