.button {
  &:focus {
    text-decoration: underline;
    outline: 0;
  }

  &.is-info {
    background-color: #1F7AB7;
    color: #fff;

    &:focus,
    &:hover {
      box-shadow: 0 0 0 2px white, 0 0 0 5px hsl(204, 86%, 53%) !important;
    }
  }

  &.is-danger {
    background-color: #E4113B;

    &:focus,
    &:hover {
      box-shadow: 0 0 0 2px white, 0 0 0 5px #E4113B !important;
      color: #fff;
    }
  }
}